*,
*::before,
*::after {box-sizing: border-box;
padding: 0;
margin: 0;}

html {
    height: 100%;
}

body {
    font-family: "Rubik", sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

button {
    font-family: "Rubik", sans-serif;
}